<div class="bg-gray-darker footer">
    <div class="container text-inverse">
        <div class="p-a-lg">
            <h3 class="text-xs p-l-md text-white text-uppercase m-b-md"><b>American College of Gastroenterology</b></h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="bg-opaque-dark p-a-md">
                        <ul class="list-unstyled text-sm m-b-0">
                            <li><a href="#" class="text-muted">Gi.org - ACG Home Page</a></li>
                            <li><a href="#" class="text-muted">Education</a></li>
                            <li><a href="#" class="text-muted">Clinical Guidelines</a></li>
                            <li><a href="#" class="text-muted">Publications</a></li>
                            <li><a href="#" class="text-muted">Trainees</a></li>
                            <li><a href="#" class="text-muted">Patients & Families</a></li>
                            <li><a href="#" class="text-muted">ACG Blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <ul class="list-unstyled text-sm m-b-0">
                        <li><a href="#" class="text-muted">Abstracts</a></li>
                        <li><a href="#" class="text-muted">Programs</a></li>
                        <li><a href="#" class="text-muted">Exhibitors & Sponsors</a></li>
                        <li><a href="#" class="text-muted">About</a></li>
                        <li><a href="#" class="text-muted">Media</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3 class="text-sm text-mute text-uppercase">ACG Sites</h3>
                    <ul class="list-unstyled text-sm m-b-0">
                        <li><a href="#" class="text-muted">ACG Case Reports</a></li>
                        <li><a href="#" class="text-muted">AJG - The Red Journal</a></li>
                        <li><a href="#" class="text-muted">Annual Meeting</a></li>
                        <li><a href="#" class="text-muted">Education Universe</a></li>
                        <li><a href="#" class="text-muted">GI Circle</a></li>
                        <li><a href="#" class="text-muted">GIQuIC</a></li>
                        <li><a href="#" class="text-muted">SAP-MOC</a></li>
                        <li><a href="#" class="text-muted">Self-Assessment Test</a></li>
                    </ul>
                </div>
                <div class="col-md-3 text-mute text-sm">
                    <p class="text-muted m-b-sm text-emphasis">American College of Gastroenterology</p>
                    <p class="m-b-sm">6400 Goldsboro Rd<br>
                    Ste 200<br> 
                    Bethesda, MD 20817<br> 
                    (301) 263-9000</p>
                    <a href="#" class="btn btn-info btn-xs">Contact Us</a>
                </div>
            </div>
            <hr class="hr-inverse">
            <div class="text-xs text-mute">
                ©2017 American College of Gastroenterology
                <span class="pull-right"><a href="#" class="text-mute">Terms of Use</a> &nbsp;| &nbsp; <a href="#" class="text-mute">Privacy Policy</a></span>
        </div>
    </div>
</div>