.logo {
	background-image: url('#{$assetPath}/logo/white-large.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 90px 30px;
	display: block;
	height: 30px;
	text-indent: -9999em;
	@include transition(opacity .3s ease-in);
	position: relative;
	width: 90px;
	&.logo-sm {
    	background-size: 75px 25px;
    	height: 25px;
    	width: 75px;
	}
}

.navbar-brand .logo {
    margin-top: -4px;
}

.no-backgroundsize {
    .logo {
    	background-image: url('#{$assetPath}/logo/white-90.png');
    	&.logo-sm {
    	    background-image: url('#{$assetPath}/logo/white-72.png');
	    }
    }
}