ul {
    margin-bottom: 1em;
    margin-left: 0;
    padding-left: 1.25rem;
}

ol {
    counter-reset: ordered-list-counter;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

ol li {
    margin-left: 0;
    padding-left: 1.75em;
    position: relative;
}

ol li:before {
    content: counter(ordered-list-counter) ".";
	counter-increment: ordered-list-counter;
	font-weight: 600;
	left: 0;
	position: absolute;
	text-align: right;
	top: 0;
	width: 1.25em;
}

.list-unstyled {
    li {
        margin: 0;
    }
    li + li {
        margin-top: ($spacer / 2);
    }
}

.list-items {
    border-top: 1px solid rgba(#000,.1);
    margin: 0 0 ($spacer-y * 1.5);
    list-style: none;
    padding-left: 0;
}

.list-item {
    border-bottom: 1px solid rgba(#000,.1);
    margin: 0;
    padding-bottom: .6rem;
    padding-top: .6rem;
    &.list-item-shaded {
        background-color: $table-bg-accent;
    }
}

.text-inverse {
    .list-items,
    .list-item {
        border-color: rgba(#fff,.1);
    }
}

.list-item-tight,
.list-items-sm .list-item {
    padding-bottom: .3rem;
    padding-top: .3rem;
}

.list-items-card {
    margin-bottom: 0;
}

.list-items-card:first-child,
.card-header + .list-items-card {
    border: none;
}

.list-items-card > .list-item {
    padding-left: $card-spacer-x;
    padding-right: $card-spacer-x;
    padding-bottom: .7rem;
    padding-top: .7rem;
    &:nth-last-of-type(1) {
        border: none;
    }
}

.card-sm .list-items-card > .list-item {
    padding-bottom: .6rem;
    padding-top: .6rem;
}

.list-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
        flex-grow: 1;
        flex-basis: 50%;
        margin: 0;
    }
}

li.checkbox:first-child {
    margin-top: 0;
}

li.checkbox:last-child {
    margin-bottom: 0;
}

.list-icon,
.has-icon {
    list-style: none;
    margin-left: 0;
    position: relative;
    padding-left: $list-icon-padding !important;
    > .icon {
        position: absolute;
        left: 0;
    }
}

.list-icon > .icon {
    margin-top: .2rem;
}

.list-items-card .list-icon {
    padding-left: 3rem !important;
    > .icon {
        left: $card-spacer-x;
        margin-top: .2rem;   
    }
}

.card-sm .list-items-card .list-item {
    padding-left: 2.5rem !important;
    > .icon {
        left: .8rem;
    }
}

.list-item-hover:hover {
    background: $table-bg-hover;
}

.list-item-hover,
.table-hover tr td:first-child {
    position: relative;
}

.list-item-hover:hover:after,
.table-hover tr:hover td:first-child:after  {
    background: $brand-info;
    content: '';
    display: block;            
    height: 100%;
    left: -1px;
    top: 0;
    position: absolute;
    width: 2px;
}

.dl-horizontal {
    margin-right: -($grid-gutter-width / 2);
    margin-left: -($grid-gutter-width / 2);
}