$red: #961e23;
$red-dark: #961e23;
$orange: #f58255;
$orange-light: #f58255;
$gray: #64665d;
$gray-lighter: #f2f3f1;
$gray-light: #e8e8e0;
$gray-dark: #5d595a;
$blue-light: #65bec4;
$blue: #4aa9b8;
$green: #69bea5;

$font-size-base: 16px;
$font-size-xs: 14px;
$font-size-sm: 20px;
$font-size-md: 22px;
$font-size-lg: 36px;
$font-size-x-lg: 50px;

$spacer: 20px;
$spacer-x: 20px;
$spacer-y: 20px;